@font-face {
  font-family: "Neucha";
  src: url("/fonts/Neucha-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-white-transparent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-dark-primary: #42413C;
  --color-dark: #2a2626;
  --color-dark-transparent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;

  --line-height-base: 1.6em;
  --font-color: var(--color-dark);
  --font-size-base: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.box {
  width: 1110px;
  margin: 100px auto;
}

