@font-face {
  font-family: "Neucha";
  src: url("/fonts/Neucha-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-white-transparent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-dark-primary: #42413C;
  --color-dark: #2a2626;
  --color-dark-transparent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;

  --line-height-base: 1.6em;
  --font-color: var(--color-dark);
  --font-size-base: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neucha', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-base);
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
}

.box {
  position: relative;
  width: 1110px;
  padding-block: 100px;
  margin-inline: auto;
}

.header {
  position: relative;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.container {
  display: flex;
  gap: 30px;
}

.column {
  width: 540px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.d-inline-block {
  display: inline-block;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-n100 {
  margin-bottom: -100px;
}

.text-primary {
  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.drop-shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}


